:root {
  color-scheme: dark;
}

html {
  height: 100%;
  width: 100%;
}

body,
p,
h1,
h2,
h3,
li {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: unset;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
}
