@import "@styles/color";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.title {
  border-radius: 0.75rem;
  padding: 0.25rem 1.25rem;
  background-color: $header-gray;

  font-size: 0.875rem;
  font-weight: 500;
  font-family: Inter;
  color: $gray;
}
